* {

    margin: 0;

    padding: 0;

    box-sizing: border-box;

    font-family: Arial, sans-serif;

}

body {

    display: flex;

    justify-content: center;

    align-items: center;

    height: 100vh;

    background: #f1f5f9;

}

.quiz-container {

    width: 500px;

    background: white;

    padding: 25px;

    border-radius: 10px;

    box-shadow: 0 0 10px rgba(0,0,0,0.2);

}

button {

    padding: 10px 20px;

    cursor: pointer;

    margin-top: 10px;

}

.option {

    display: block;

    margin: 10px 0;

    cursor: pointer;

}