body {

    margin: 0;

    font-family: Arial, sans-serif;

    background: #f4f4f4;

}

.container {

    max-width: 700px;

    margin: 40px auto;

    padding: 20px;

    background: white;

    border-radius: 10px;

    text-align: center;

    box-shadow: 0 0 10px rgba(0,0,0,0.2);

}

header {

    color: #2563eb;

}

footer {

    margin-top: 20px;

    color: gray;

}