*{

    margin:0;

    padding:0;

    box-sizing:border-box;

    font-family:Arial,sans-serif;

}

body{

    background:#0f172a;

    display:flex;

    justify-content:center;

    align-items:center;

    height:100vh;

}

.container{

    background:white;

    padding:30px;

    border-radius:10px;

    text-align:center;

    width:350px;

}

input{

    width:100%;

    padding:10px;

    margin:15px 0;

}

button{

    padding:10px 20px;

    cursor:pointer;

}

#weather{

    margin-top:20px;

}